<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cliente.nome }}</title>
</head>
<body>

<div align="center">
    <h2>{{ cliente.nome }}</h2>

    <table border="1" width="700">
        <tr>
            <td>Nome:</td>
            <td>{{ cliente.nome }}</td>
        </tr>
        <tr>
            <td>Data de Nascimento:</td>
            <td>{{cliente.data_nascimento}}</td>
        </tr>
        <tr>
            <td>Endereço:</td>
            <td>{{cliente.endereco}} - {{cliente.nro}} || {{cliente.bairro}} - {{cliente.cidade}} || CEP: {{cliente.cep}}</td>
        </tr>
        <tr>
            <td>Número de Matrícula:</td>
            <td>{{cliente.matricula}}</td>
        </tr>
        <tr>
            <td>Renda Mensal:</td>
            <td>{{cliente.renda_mensal}}</td>
        </tr>
        <tr>
            <td>Estado Civil:</td>
            <td>{{cliente.estado_civil}}</td>
        </tr>
        <tr>
            <td>Profissão:</td>
            <td>{{cliente.profissao}}</td>
        </tr>
        <tr>
            <td>Interesses:</td>
            <td>{{cliente.interesses}}</td>
        </tr>
        <tr>
            <td>Cadastro ativo:</td>
            <td>{{cliente.ativo}}</td>
        </tr>

    </table>
</div>
</body>
</html>